.classy-logo{
    position: absolute;
    left: 30px;
    top: 30px;

    width: 50px;
    height: 50px;
}
.classy-logo > img{
    transition: all .2s;
    width: 100%;
}
.classy-logo:hover > img{
    transform: scale(110%, 110%);
}
.classy-logo:active > img{
    transform: scale(0);
}

.create-account-section{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    width: 100%;
    margin: auto;
    max-width: 1366px;
    padding: 95px 30px;
    min-height: 100vh;
}
.create-account-section__aside{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    
    max-width: 500px;
}
.create-account-section__aside span{
    color: #4D3D87;
    font-weight: 700;
}
.create-account-section__aside__title{
    font-size: 2em;
    color: #4D3D87;
    margin-bottom: 10px;
}
.create-account-section__aside__instructions{
    margin-bottom: 20px;
}
.create-account-section__aside__container-title{
    color: black;
    font-weight: 500;
}
.create-account-section__aside__containers{
    position: relative;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: row;

    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid black;
}
.create-account-section__aside__inputs-error-text{
    display: none;

    color: #ff0050;
    font-size: .8em;
}
.create-account-section__aside__inputs-error-text.on-error{
    display: block;
}
.confirm-password{
    display: none;
}
.create-account-section__aside__containers__inputs-icons{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.create-account-section__aside__containers__inputs{
    width: 100%;
    border: 0;
    outline: none;
}
.create-account-section__aside__password-container__eye-icon{
    display: none;
    margin-right: 0;
    margin-left: 10px;
}
.create-account-section__aside__password-container__eye-icon:hover{
    cursor: pointer;
}

.create-account-section__aside__account-type-container{
    position: relative;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
}
.create-account-section__aside__account-type-container > h1{
    color: black;
    font-weight: 500;
}
.create-account-section__aside__account-type-container__choose-boxes-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}
.create-account-section__aside__account-type-container__choose-boxes{
    transition: all .25s;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    margin: 0 10px;
    padding: 5px;
    font-size: .75em;
    color: rgb(43, 43, 43);
    background-color: rgb(219, 219, 219);
}
.create-account-section__aside__account-type-container__choose-boxes:hover{
    cursor: pointer;
    color: black;
}
.create-account-section__aside__account-type-container__choose-boxes.type-selected{
    color: white;
    background-color: #4D3D87;
}
.create-account-section__aside__account-type-container__choose-boxes.type-selected:hover{
    color: white;
    background-color: #392d63;
}
.create-account-section__aside__account-type-container__choose-boxes__icons{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.create-account-section__aside__cabutton{
    transition: all .25s;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 5px;
    color: white;
    margin-top: 40px;
    margin-bottom: 5px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px #392d63;
    background-color: #4D3D87;
}
.create-account-section__aside__cabutton:hover{
    cursor: pointer;
    transform: translateY(-10px);
    box-shadow: 0px 10px 0px #392d63;
}
.create-account-section__aside__cabutton:active{
    transform: translateY(0px);
    box-shadow: none;
    background-color: #392d63;
}
.create-account-section__aside__cabutton > h1{
    font-weight: 400;
}
.create-account-section__aside__altbutton{
    align-self: center;
    color: black;
    text-decoration: underline;
}
.create-account-section__aside__altbutton:hover{
    cursor: pointer;
}
.create-account-section__aside__altbutton:active{
    text-decoration: none;
}

.create-account-section__picture{
    width: 100%;
    max-width: 500px;
}

.input-error{
    margin-bottom: 0;
    border: 1px solid #ff0050;   
}

@media screen and (max-width: 1024px){
    .create-account-section__aside{
        order: 1;
    }
    .create-account-section__picture{
        order: 0;
    }
}