body{
    overflow-x: hidden;
}

header{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    width: 100%;
    padding: 30px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);
}

.header__classy-logo{
    width: 50px;
    height: 50px;
}
.header__classy-logo > img{
    transition: all .2s;
    width: 100%;
}
.header__classy-logo:hover > img{
    transform: scale(110%, 110%);
}
.header__classy-logo:active > img{
    transform: scale(0);
}

/*TODO-SECTION*/
.to-do-section{
    position: relative;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    width: 100%;
    padding: 30px 0;
    min-height: calc(100vh - 110px);
}

.to-do-section__background-picture{
    position: absolute;
    bottom: -20px;
    right: -20px;
    width: 100%;
    opacity: .8;
    max-width: 400px;
}

.to-do-section__add-categorie-button{
    transition: all .25s;
    position: absolute;
    top: 30px;
    right: 30px;

    width: 40px;
    height: 40px;
    color: white;
    border-radius: 100%;
    background-color: #4D3D87;
}
.to-do-section__add-categorie-button:hover{
    cursor: pointer;
    transform: scale(110%, 110%);
}

.to-do-section__generate-classic-list{
    transition: all .5s;
    position: fixed;
    bottom: 30px;
    right: -270px;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    font-size: 1em;
    color: white;
    font-weight: 500;
    padding: 10px 15px;
    text-transform: uppercase;
    background-color: #4D3D87;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.125);
    border-radius: 25px 0px 0px 25px;
}
.to-do-section__generate-classic-list:hover{
    cursor: pointer;
    right: 0px;
}
.to-do-section__generate-classic-list > span{
    margin-right: 5px;
}

.to-do-section__alt-categories-tabs-container{
    display: none;
    flex-wrap: nowrap;
    flex-direction: row;
    align-self: flex-start;

    padding: 20px 0px;
    margin-left: 30px;
    overflow-x: scroll;
    margin-bottom: 25px;
    width: calc(100% - 130px);
}
.to-do-section__alt-categories-tabs-container .shadow{
    transition: all .1s;
    position: absolute;
    width: 70px;
    height: 55px;
    top: 5px;
    right: 95px;
    pointer-events: none;
    background-image: linear-gradient(to left, rgb(255, 255, 255), transparent);
}
.to-do-section__alt-categories-tabs-container__to-do-categories-tab{
    transition: all .25s;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 5px;
    min-width: 100px;
    height: 35px;
    color: white;
    margin-right: 10px;
    border-radius: 10px;
    background-color: #4D3D87;
    box-shadow: 0px 0px 00px #3e316b;
}
.to-do-section__alt-categories-tabs-container__to-do-categories-tab:hover{
    cursor: pointer;
    transform: translateY(-7.5px);
    box-shadow: 0px 7.5px 0px #3e316b;
}
.to-do-section__alt-categories-tabs-container__to-do-categories-tab:active{
    transform: translateY(0);
    box-shadow: none;
}

.to-do-section__categorie-containers{
    transition: all .5s;
    position: relative;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    max-width: 320px;
    width: calc(100vw - 60px);
    height: 320px;
    padding: 10px;
    margin: 0 30px;
    color: white;
    margin-bottom: 30px;
    background-color: #1b1924;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.125);
    border-top: 10px solid #4D3D87;
}
.to-do-section__categorie-containers.c-purple{
    border-top: 10px solid #4D3D87;
}
.to-do-section__categorie-containers.c-purple > .to-do-section__categorie-containers__title > ion-icon{
    color: #4D3D87;
}
.to-do-section__categorie-containers.c-purple .to-do-section__categorie-containers__cards-list__card__actions-buttons-container__actions-button{
    color: #4D3D87;
}
.to-do-section__categorie-containers.c-blue{
    border-top: 10px solid #1A6ED8;
}
.to-do-section__categorie-containers.c-blue > .to-do-section__categorie-containers__title > ion-icon{
    color: #1A6ED8;
}
.to-do-section__categorie-containers.c-blue .to-do-section__categorie-containers__cards-list__card__actions-buttons-container__actions-button{
    color: #1A6ED8;
}
.to-do-section__categorie-containers.c-green{
    border-top: 10px solid #88be46;
}
.to-do-section__categorie-containers.c-green > .to-do-section__categorie-containers__title > ion-icon{
    color: #88be46;
}
.to-do-section__categorie-containers.c-green .to-do-section__categorie-containers__cards-list__card__actions-buttons-container__actions-button{
    color: #88be46;
}
.to-do-section__categorie-containers.c-yellow{
    border-top: 10px solid #f1c733;
}
.to-do-section__categorie-containers.c-yellow > .to-do-section__categorie-containers__title > ion-icon{
    color: #f1c733;
}
.to-do-section__categorie-containers.c-yellow .to-do-section__categorie-containers__cards-list__card__actions-buttons-container__actions-button{
    color: #f1c733;
}
.to-do-section__categorie-containers.c-pink{
    border-top: 10px solid #fda1c6;
}
.to-do-section__categorie-containers.c-pink > .to-do-section__categorie-containers__title > ion-icon{
    color: #fda1c6;
}
.to-do-section__categorie-containers.c-pink .to-do-section__categorie-containers__cards-list__card__actions-buttons-container__actions-button{
    color: #fda1c6;
}
.to-do-section__categorie-containers__title{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    color: white;
    font-size: 1.5em;
    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.to-do-section__categorie-containers__title > ion-icon{
    transition: all .5s;
    color: #4D3D87;
    margin-right: 5px;
}

.to-do-section__categorie-containers__cards-list{
    width: 100%;
    height: 100%;
    padding: 0 10px;
    max-height: 100%;
    overflow-y: scroll;
}

.to-do-section__categorie-containers__cards-list__card{
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    flex-direction: column;

    width: 100%;
    color: black;
    margin-bottom: 15px;
    background-color: white;
}
.to-do-section__categorie-containers__cards-list__card-model{
    display: none;
}
.to-do-section__categorie-containers__cards-list__card__actions-buttons-container{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    gap: 20px;
    width: 100%;
    padding: 5px 10px;
}
.to-do-section__categorie-containers__cards-list__card__actions-buttons-container__actions-button{
    transition: all .5s;
    width: 15px;
    height: 15px;
    padding: 10px;
    color: #4D3D87;
    border-radius: 100%;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.125);
} 
.to-do-section__categorie-containers__cards-list__card__actions-buttons-container__actions-button:hover{
    cursor: pointer;
}
.to-do-section__categorie-containers__cards-list__card__actions-buttons-container__go-up-card-button:hover{
    color: #1A6ED8;
}
.to-do-section__categorie-containers__cards-list__card__actions-buttons-container__change-card-categorie-button:hover{
    color: #1A6ED8;
}
.to-do-section__categorie-containers__cards-list__card__actions-buttons-container__delete-card-button:hover{
    color: #ff0050;
}
.to-do-section__categorie-containers__cards-list__card__actions-buttons-container__actions-button:active{
    color: black;
    box-shadow: none;
}
.to-do-section__categorie-containers__cards-list__card__task-text{
    width: 100%;
    font-size: 1em;
    font-weight: 400;
    padding: 5px 10px;
    text-align: justify;
    word-wrap: break-word;
}
.to-do-section__categorie-containers__cards-list__card__task-text:hover{
    cursor: pointer;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.05);
}

.to-do-section__categorie-containers__add-card-button{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    font-size: 1em;
    padding-top: 5px;
    text-transform: uppercase;
    border-top: 1px solid rgba(255, 255, 255, 0.5);;
}
.to-do-section__categorie-containers__add-card-button:hover{
    cursor: pointer;
}
.to-do-section__categorie-containers__add-card-button:active{
    color: rgba(255, 255, 255, 0.5);
}
.to-do-section__categorie-containers__add-card-button > ion-icon{
    width: 25px;
    height: 25px;
    margin-right: 5px;
}
.to-do-section__categorie-containers__color-containers{
    transition: all .5s;
    position: absolute;
    top: -10px;
    right: -37.5px;

    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;

    gap: 15px;
    width: 30px;
    height: 30px;
    overflow: hidden;
}
.to-do-section__categorie-containers__color-containers.set-color-active{
    height: 200px;
}
.to-do-section__categorie-containers__color-containers__color-button{
    min-width: 25px;
    min-height: 25px;
    border-radius: 100%;
    background-color: black;
}
.to-do-section__categorie-containers__color-containers__color-button:hover{
    cursor: pointer;
}
.purple-color{
    background-color: #4D3D87;
}
.yellow-color{
    background-color: #f1c733;
}
.pink-color{
    background-color: #fda1c6;
}
.blue-color{
    background-color: #1a6ed8;
}
.green-color{
    background-color: #88be46;
}

.to-do-section__categorie-containers__delete-categorie-button{
    transition: all .25s;
    position: absolute;
    top: 10px;
    right: 10px;

    width: 30px;
    height: 30px;
}
.to-do-section__categorie-containers__delete-categorie-button:hover{
    cursor: pointer;
    transform: scale(115%, 115%);
}
.to-do-section__categorie-containers__delete-categorie-button:active{
    transform: scale(0);
}
.to-do-section__other-categorie-containers-model-example{
    display: none;
}

.screen-saver{
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 30px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.screen-saver.active{
    display: block;
}
.to-do-section__screen-saver__add-card-tab,
.to-do-section__screen-saver__delete-card-alert-tab,
.to-do-section__screen-saver__change-categorie-tab, 
.to-do-section__screen-saver__edit-card-text-tab{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: none;
    flex-wrap: nowrap;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    
    max-width: 400px;
    padding: 20px;
    width: calc(100% - 60px);
    background-color: white;
}
.to-do-section__screen-saver__add-card-tab.active-tab, 
.to-do-section__screen-saver__delete-card-alert-tab.active-tab, 
.to-do-section__screen-saver__change-categorie-tab.active-tab, 
.to-do-section__screen-saver__edit-card-text-tab.active-tab{
    display: flex;
}
.to-do-section__screen-saver__add-card-tab__title,
.to-do-section__screen-saver__delete-card-alert-tab__title,.to-do-section__screen-saver__change-categorie-tab__title, 
.to-do-section__screen-saver__edit-card-text-tab__title{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    font-size: 1.5em;
    color: #4D3D87;
    margin-bottom: 20px;
}
.to-do-section__screen-saver__add-card-tab__card-text-input,
.to-do-section__screen-saver__edit-card-text-tab > input{
    border: 0;
    width: 100%;
    outline: none;
    padding: 2.5px 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
}
.input-error{
    border-bottom: 1px solid #ff0050;
    margin-bottom: 5px;
}
.to-do-section__screen-saver__add-card-tab__input-error-text{
    width: 100%;
    display: none;
    font-size: .9em;
    color: #ff0050;
    margin-bottom: 20px;
}
.error-text-active{
    display: block;
}

.to-do-section__screen-saver__add-card-tab__actions-buttons-container,
.to-do-section__screen-saver__edit-card-text-tab__actions-buttons{
    width: 100%;
    text-align: right;
}
.to-do-section__screen-saver__add-card-tab__actions-buttons-container > input,
.to-do-section__screen-saver__delete-card-alert-tab__answer-buttons > input,
.to-do-section__screen-saver__change-categorie-tab > input,
.to-do-section__screen-saver__edit-card-text-tab__actions-buttons > input{
    border: 0;
    width: 80px;
    outline: none;
    padding: 5px;
    color: #4D3D87;
    font-weight: 600;
    text-transform: uppercase;
    background-color: transparent;
}
.to-do-section__screen-saver__edit-card-text-tab__actions-buttons > #edit-card-confirm-button{
    color: rgba(77, 61, 135, 0.5);
}
#edit-card-confirm-button.available-button{
    color: rgba(77, 61, 135, 1);
}
.to-do-section__screen-saver__add-card-tab__actions-buttons-container > input:hover,
.to-do-section__screen-saver__delete-card-alert-tab__answer-buttons > input:hover,
.to-do-section__screen-saver__change-categorie-tab > input:hover,
.to-do-section__screen-saver__edit-card-text-tab__actions-buttons > input:hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.089);
}

.to-do-section__screen-saver__delete-card-alert-tab__text{
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.to-do-section__screen-saver__change-categorie-tab__available-categories{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;

    gap: 10px;
    width: 100%;
    min-height: 100px;
}
.to-do-section__screen-saver__change-categorie-tab__available-categories-categories-button{
    transition: all .1s;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    gap: 5px;
    height: 35px;
    color: white;
    min-width: 100px;
    font-size: .7em;
    background-color: #4D3D87;
}
.to-do-section__screen-saver__change-categorie-tab__available-categories-categories-button > ion-icon{
    width: 15px;
    height: 15px;
}
.to-do-section__screen-saver__change-categorie-tab__available-categories-categories-button:hover{
    cursor: pointer;
    box-shadow: 0px 0px 10px rgba(62, 49, 107, 0.5);
}
.to-do-section__screen-saver__change-categorie-tab__available-categories-categories-button:active{
    color: #4D3D87;
    background-color: white;
    box-shadow: none;
}
.available-categories-categories-button-model{
    display: none;
}

.to-do-section__screen-saver__classic-todo-list-sidebar{
    transition: all .5s;
    position: fixed;
    right: -410px;
    top: 0px;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;

    height: 100vh;
    max-width: 400px;
    padding: 70px 30px;
    overflow-y: scroll;
    width: calc(100vw - 50px);
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}
.to-do-section__screen-saver__classic-todo-list-sidebar.sidebar-active{
    right: 0px;
}
.to-do-section__screen-saver__classic-todo-list-sidebar.print-state{
    width: 100vw;
    max-width: none;
    box-shadow: none;
}
header.print-state,
.to-do-section.print-state,
.footer.print-state{
    display: none;
}

.to-do-section__screen-saver__classic-todo-list-sidebar h1{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    gap: 5px;
    color: #4D3D87;
    margin-bottom: 10px;
}
.to-do-section__screen-saver__classic-todo-list-sidebar p{
    color: rgba(0, 0, 0, 0.5);
}
.to-do-section__screen-saver__classic-todo-list-sidebar ul{
    padding-left: 40px;
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid black;
}
.to-do-section__screen-saver__classic-todo-list-sidebar__print-button{
    transition: all .25s;
    position: absolute;
    top: 15px;
    left: 15px;

    width: 30px;
    height: 30px;
    padding: 5px;
}
.to-do-section__screen-saver__classic-todo-list-sidebar__print-button:hover{
    cursor: pointer;
    color: #4D3D87;
    transform: scale(110%, 110%);
}
.to-do-section__screen-saver__classic-todo-list-sidebar__print-button:active{
    transform: scale(0%);
}
.to-do-section__screen-saver__classic-todo-list-sidebar__close-button{
    transition: all .25s;
    position: absolute;
    top: 15px;
    right: 15px;

    width: 30px;
    height: 30px;
    padding: 5px;
}
.to-do-section__screen-saver__classic-todo-list-sidebar__close-button:hover{
    cursor: pointer;
    transform: scale(120%, 120%);
}
.to-do-section__screen-saver__classic-todo-list-sidebar__close-button:active{
    transform: scale(0%);
}
.to-do-section__screen-saver__classic-todo-list-sidebar__close-button.print-state{
    display: none;
}

@media screen and (max-width: 759px){
    .to-do-section{
        padding-top: 0;
        align-items: center;
        flex-direction: column;
    }
    .to-do-section__background-picture{
        display: none;
    }
    .to-do-section__alt-categories-tabs-container{
        display: flex;
    }
    .to-do-section__categorie-containers{
        width: calc(100vw - 90px);
    }
}

@media screen and (max-height: 550px){
    .to-do-section__background-picture{
        display: none;
    }
}